### 데이터 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

dataset = pd.read_csv('/content/drive/MyDrive/Aiffel Hackathon/colab_dataset/final_featured_dataset_preprocessed2')

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523101 entries, 0 to 523100
Data columns (total 54 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       523101 non-null  int64
 1   Close            523101 non-null  int64
 2   signal           523101 non-null  float64
 3   EMA10            523101 non-null  float64
 4   EMA30            523101 non-null  float64
 5   EMA180           523101 non-null  float64
 6   ROC10            523101 non-null  float64
 7   ROC30            523101 non-null  float64
 8   MOM10            523101 non-null  float64
 9   MOM30            523101 non-null  float64
 10  %K10             523101 non-null  float64
 11  %D10             523101 non-null  float64
 12  %K30             523101 non-null  float64
 13  %D30             523101 non-null  float64
 14  %K180            523101 non-null  float64
 15  %D180            523101 non-null  float64
 16  RSI10            523101 non-null  float64
 17  RSI30            523101 non-null  float64
 18  RSI180           523101 non-null  float64
 19  MA10             523101 non-null  float64
 20  MA30             523101 non-null  float64
 21  MA180            523101 non-null  float64
 22  EMAFast          523101 non-null  float64
 23  EMASlow          523101 non-null  float64
 24  MACD             523101 non-null  float64
 25  MACDSignal       523101 non-null  float64
 26  MACDDiff         523101 non-null  float64
 27  MBB(MA20)        523101 non-null  float64
 28  HBB              523101 non-null  float64
 29  LBB              523101 non-null  float64
 30  PDI              523101 non-null  float64
 31  MDI              523101 non-null  float64
 32  ADX              523101 non-null  float64
 33  OLCR             523101 non-null  float64
 34  HCR              523101 non-null  float64
 35  LCR              523101 non-null  float64
 36  CLCR             523101 non-null  float64
 37  VLVR             523101 non-null  float64
 38  VMA5R            523101 non-null  float64
 39  VMA10R           523101 non-null  float64
 40  VMA20R           523101 non-null  float64
 41  VMA60R           523101 non-null  float64
 42  VMA120R          523101 non-null  float64
 43  BTC_close        523101 non-null  float64
 44  DXY              523101 non-null  float64
 45  BTCD             523101 non-null  float64
 46  Kimchi_premium   523101 non-null  float64
 47  S&P500           523101 non-null  float64
 48  Ethereum DeFi    523101 non-null  float64
 49  News_freq        523101 non-null  float64
 50  NaverTrend       523101 non-null  float64
 51  Kyle_lambda      523101 non-null  float64
 52  Amihud_lambda    523101 non-null  float64
 53  Hasbrouck_labda  523101 non-null  float64
dtypes: float64(52), int64(2)
memory usage: 215.5 MB

In [ ]:
dataset

,Unnamed: 0,Close,signal,EMA10,EMA30,EMA180,ROC10,ROC30,MOM10,MOM30,...,DXY,BTCD,Kimchi_premium,S&P500,Ethereum DeFi,News_freq,NaverTrend,Kyle_lambda,Amihud_lambda,Hasbrouck_labda
0,0,2018000,0.0,2.015755e+06,2.013690e+06,2.022620e+06,0.347913,0.347913,7000.0,7000.0,...,92.350,61.201411,10.897713,3910.51,4.492662e+10,142.0,25.36670,41.508146,0.000021,0.000078
1,1,2019000,0.0,2.016163e+06,2.013968e+06,2.022569e+06,0.298211,0.348086,6000.0,6000.0,...,92.350,61.201411,10.897713,3910.51,4.492662e+10,142.0,25.36670,35.517186,0.000018,0.000072
2,2,2019000,0.0,2.016679e+06,2.014293e+06,2.022530e+06,0.347913,0.298063,7000.0,8000.0,...,92.350,61.201411,10.897713,3910.51,4.492662e+10,142.0,25.36670,34.517538,0.000017,0.000071
3,3,2019000,0.0,2.017101e+06,2.014596e+06,2.022491e+06,0.298063,0.447761,7000.0,6000.0,...,92.350,61.201411,10.897713,3910.51,4.492662e+10,142.0,25.36670,30.777662,0.000015,0.000064
4,4,2016000,0.0,2.017446e+06,2.014880e+06,2.022452e+06,0.198511,0.447761,6000.0,9000.0,...,92.350,61.201411,10.897713,3910.51,4.492662e+10,142.0,25.36670,28.991902,0.000014,0.000059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523096,523096,3665000,0.0,3.665095e+06,3.659772e+06,3.634378e+06,0.109230,0.603732,4000.0,21000.0,...,98.793,42.584513,15.249800,4488.22,1.159212e+11,57.0,4.68624,48.670278,0.000013,0.000093
523097,523097,3668000,0.0,3.665078e+06,3.660109e+06,3.634716e+06,0.027293,0.603898,3000.0,21000.0,...,98.793,42.584513,15.249800,4488.22,1.159212e+11,57.0,4.68624,48.124403,0.000013,0.000091
523098,523098,3669000,0.0,3.665609e+06,3.660618e+06,3.635084e+06,0.054555,0.713893,4000.0,25000.0,...,98.793,42.584513,15.249800,4488.22,1.159212e+11,57.0,4.68624,49.368770,0.000013,0.000094
523099,523099,3663000,0.0,3.666226e+06,3.661159e+06,3.635459e+06,0.109141,0.713698,3000.0,27000.0,...,98.793,42.584513,15.249800,4488.22,1.159212e+11,57.0,4.68624,49.889389,0.000014,0.000096
523100,523100,3662000,0.0,3.665639e+06,3.661278e+06,3.635763e+06,-0.027293,0.466264,-2000.0,20000.0,...,98.793,42.584513,15.249800,4488.22,1.159212e+11,57.0,4.68624,45.408803,0.000012,0.000095

### 전처리

In [ ]:
#  필요없는 columns 삭제

dataset=dataset.drop(['Unnamed: 0','Close'], axis=1)
dataset.head()

,signal,EMA10,EMA30,EMA180,ROC10,ROC30,MOM10,MOM30,%K10,%D10,...,DXY,BTCD,Kimchi_premium,S&P500,Ethereum DeFi,News_freq,NaverTrend,Kyle_lambda,Amihud_lambda,Hasbrouck_labda
0,0.0,2.015755e+06,2.013690e+06,2.022620e+06,0.347913,0.347913,7000.0,7000.0,80.000000,80.833333,...,92.35,61.201411,10.897713,3910.51,4.492662e+10,142.0,25.3667,41.508146,0.000021,0.000078
1,0.0,2.016163e+06,2.013968e+06,2.022569e+06,0.298211,0.348086,6000.0,6000.0,70.000000,79.166667,...,92.35,61.201411,10.897713,3910.51,4.492662e+10,142.0,25.3667,35.517186,0.000018,0.000072
2,0.0,2.016679e+06,2.014293e+06,2.022530e+06,0.347913,0.298063,7000.0,8000.0,80.000000,76.666667,...,92.35,61.201411,10.897713,3910.51,4.492662e+10,142.0,25.3667,34.517538,0.000017,0.000071
3,0.0,2.017101e+06,2.014596e+06,2.022491e+06,0.298063,0.447761,7000.0,6000.0,77.777778,75.925926,...,92.35,61.201411,10.897713,3910.51,4.492662e+10,142.0,25.3667,30.777662,0.000015,0.000064
4,0.0,2.017446e+06,2.014880e+06,2.022452e+06,0.198511,0.447761,6000.0,9000.0,75.000000,77.592593,...,92.35,61.201411,10.897713,3910.51,4.492662e+10,142.0,25.3667,28.991902,0.000014,0.000059

### Feature selection

#### 분산 0인 데이터 제거
- 분산이 0인 데이터를 제거하는 이유?
  - 어떤 피처의 분산이 0이라는 것은 그 피처의 데이터가 모든 행에 대해 거의 변하지 않은 것을 의미함
  - 어떤 경우에도 같은 값을 내는 컬럼이 불량률에 영향을 주고 있다고 보기 어려움
- 수행 방법
  - 방법1 : var() 사용

In [ ]:
# 분산 0인 columns 삭제 
df_var = dataset.var()    # 시리즈
# 확인
print(df_var.describe())

# 분산이 0에 수렴하는 컬럼 확인
## 10e-10 이하면 0에 수렴하는 값으로 간주함
print(df_var[df_var.values <= 10e-10])

# 삭제
dataset.drop(df_var[df_var.values <= 10e-10].index, axis=1, inplace=True)

# 컬럼 수 확인
print(len(dataset.columns))

count    5.200000e+01
mean     1.638232e+19
std      1.181346e+20
min      6.299848e-09
25%      6.576788e-01
50%      8.178556e+02
75%      2.370195e+11
max      8.518807e+20
dtype: float64
Series([], dtype: float64)
52

#### 상관계수 0.9이상인 컬럼 1개 남기고 제거

In [ ]:
import numpy as np

# 모든 컬럼에 대해 상관계수를 구하고 상관계수가 0.9 이상인 컬럼 중 1개만 남기고 모두 제거

# 모든 컬럼에 대해 상관계수의 절대값 구하기
corr_arr = abs(dataset.corr())

# 상관계수가 0.9 이상인 컬럼 중 1개만 남기고 모두 제거
del_list = []
for i, col in enumerate(corr_arr.columns):
    for j in range(len(corr_arr.index)):
        if i == j:
            continue
        elif corr_arr.index[i] in del_list:           
            break
        # print(i, j, corr_arr.index[j], np.abs(corr_arr.iloc[j,i]))
        if np.abs(corr_arr.iloc[j,i]) >= 0.9:
            del_list.append(corr_arr.index[j])
            # print(corr_arr.index[j], '-->', corr_arr.index[i])
# 확인
len(del_list)

19

In [ ]:
del_list

['EMA30',
 'EMA180',
 'MA10',
 'MA30',
 'MA180',
 'EMAFast',
 'EMASlow',
 'MBB(MA20)',
 'HBB',
 'LBB',
 'MOM10',
 'MOM30',
 '%D30',
 '%D180',
 'MOM30',
 'MACDSignal',
 'VMA20R',
 'VMA120R',
 'Amihud_lambda']

In [ ]:
# del_list에 있는 컬럼은 제외
total_col = dataset.columns.tolist()
col_remain = []
for c in total_col:
    if c not in del_list:
        col_remain.append(c)
len(col_remain)

34

In [ ]:
col_remain

['signal',
 'EMA10',
 'ROC10',
 'ROC30',
 '%K10',
 '%D10',
 '%K30',
 '%K180',
 'RSI10',
 'RSI30',
 'RSI180',
 'MACD',
 'MACDDiff',
 'PDI',
 'MDI',
 'ADX',
 'OLCR',
 'HCR',
 'LCR',
 'CLCR',
 'VLVR',
 'VMA5R',
 'VMA10R',
 'VMA60R',
 'BTC_close',
 'DXY',
 'BTCD',
 'Kimchi_premium',
 'S&P500',
 'Ethereum DeFi',
 'News_freq',
 'NaverTrend',
 'Kyle_lambda',
 'Hasbrouck_labda']

In [ ]:
# 저장
dataset = dataset[col_remain]
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523101 entries, 0 to 523100
Data columns (total 34 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   signal           523101 non-null  float64
 1   EMA10            523101 non-null  float64
 2   ROC10            523101 non-null  float64
 3   ROC30            523101 non-null  float64
 4   %K10             523101 non-null  float64
 5   %D10             523101 non-null  float64
 6   %K30             523101 non-null  float64
 7   %K180            523101 non-null  float64
 8   RSI10            523101 non-null  float64
 9   RSI30            523101 non-null  float64
 10  RSI180           523101 non-null  float64
 11  MACD             523101 non-null  float64
 12  MACDDiff         523101 non-null  float64
 13  PDI              523101 non-null  float64
 14  MDI              523101 non-null  float64
 15  ADX              523101 non-null  float64
 16  OLCR             523101 non-null  float64
 17  HCR              523101 non-null  float64
 18  LCR              523101 non-null  float64
 19  CLCR             523101 non-null  float64
 20  VLVR             523101 non-null  float64
 21  VMA5R            523101 non-null  float64
 22  VMA10R           523101 non-null  float64
 23  VMA60R           523101 non-null  float64
 24  BTC_close        523101 non-null  float64
 25  DXY              523101 non-null  float64
 26  BTCD             523101 non-null  float64
 27  Kimchi_premium   523101 non-null  float64
 28  S&P500           523101 non-null  float64
 29  Ethereum DeFi    523101 non-null  float64
 30  News_freq        523101 non-null  float64
 31  NaverTrend       523101 non-null  float64
 32  Kyle_lambda      523101 non-null  float64
 33  Hasbrouck_labda  523101 non-null  float64
dtypes: float64(34)
memory usage: 135.7 MB

#### Train Test split

In [ ]:
# 훈련 및 테스트 데이터셋 분리

  # 연산 속도 문제로 전체 데이터셋의 20%만 사용

Y= dataset["signal"]
X = dataset.loc[:, dataset.columns != 'signal']

X_train = X.loc[:80000, :]
X_train = X_train.sample(frac = 0.1, random_state=1)
X_validation = X.loc[80360:100360, :]
Y_train = Y.loc[:80000]
Y_train = Y_train.sample(frac = 0.1, random_state=1)
Y_validation = Y.loc[80360:100360]

In [ ]:
print(X_train.shape)
print(X_validation.shape)

(8000, 33)
(20001, 33)

In [ ]:
# 스케일링 진행 standardScaler
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)
rescaledX = scaler.transform(X_train)

#### PCA 수행하여 주성분 몇 개가 적절한지 조사
- 적당한 n_components 개수 정하기
- 방법1
  - 설명변수가 급감하는 때의 주성분 인덱스를 찾음
  - 이 경우 최소한의 주성분 개수로 전체 데이터의 경향을 설명할 수 있음
- 방법2
  - 설명변수 비율의 누적합이 0.95일 때의 주성분 개수로 선택할 수 있음
  - 이 경우 전체 데이터의 95%를 설명하기 위한 주성분 개수를 구하는 것과 같음

In [ ]:

# PCA 수행

from sklearn.decomposition import PCA

# 피처개수 24만큼 주성분을 뽑아보자
pca = PCA(n_components=len(X_train.columns))

# 스케일링한 값을 넣고 fit() 과 transform()을 호출해 PCA 변환 데이터 리턴
pca.fit(rescaledX)
rescaledX_pca = pca.transform(rescaledX)

# PCA 수행 후 데이터 확인
print("데이터 구조", rescaledX_pca.shape)

# 설명변수
## 각 주성분이 전체 데이터 집합을 얼마나 잘 설명하는지 나타내는 값
print("- 각 주성분의 설명변수 :", pca.explained_variance_[:4])
# 설명변수 비율
## 전체 주성분의 설명변수 비율 합은 1(100%)
print("- 각 주성분의 설명변수 비율 :", pca.explained_variance_ratio_[:4])
# 주성분 행렬
print('- singular value :', pca.singular_values_[:4])

In [ ]:
# PCA 수행 결과를 데이터프레임으로 만들어서 확인

# 컬럼이름 붙이기
pca_columns_name = [f"pca{num+1}" for num in range(X_train.shape[1])]
# 데이터프레임 만들기
pca_df = pd.DataFrame(rescaledX_pca, columns = pca_columns_name, index=X_train.index)
pca_df.info()
pca_df.head()

In [ ]:

import matplotlib.pyplot as plt

# Scree Plot 그리기
# x축 : n_components 수
# y축 : 설명변수
plt.figure(figsize=(16, 6))
plt.plot(pca.explained_variance_, marker='o', c='blue')
plt.xlabel("n_components", fontsize=20)
plt.ylabel("explained_variance_", fontsize=20)
# Elbow(그래프가 급격히 꺾이는 지점) 확인
# n_components = 7, 즉 주성분 7개로 전체 데이터를 설명할 수 있을 것으로 보임

In [ ]:

# n_components 개수 정하기 : elbow 이용

explain_cumsum = 0
for feature_num in range(pca.n_components):
    if explain_cumsum <= 0.9:
        explain_cumsum += pca.explained_variance_ratio_[feature_num]
    else:
        break
print("주성분 {}개로 전체 데이터의 {}%를 설명함".format(feature_num, (explain_cumsum*100).round(3)))

In [ ]:

# 데이터프레임으로 보기
result = pd.DataFrame({'설명가능한 분산 비율(고윳값)':pca.explained_variance_, '기여율':pca.explained_variance_ratio_},
                      index=pca_columns_name)
result[:10]

#### RFE

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVR
from lightgbm import LGBMClassifier
from sklearn.ensemble import RandomForestClassifier

# feature_num = PCA 주성분 분석으로 90퍼 이상 표현된 개수
# XGB나 다른 모델로 변경가능.
#estimator = SVR(kernel="linear")

rfe = RFE(estimator=RandomForestClassifier(), n_features_to_select=25) #n_features_to_select 개수 설정가능
rfe.fit(rescaledX,Y_train)

for i in range(rescaledX.shape[1]):
  print('Column:%d, Selected %s, Rank: %.3f' % (i, rfe.support_[i], rfe.ranking_[i]))

Column:0, Selected True, Rank: 1.000
Column:1, Selected True, Rank: 1.000
Column:2, Selected True, Rank: 1.000
Column:3, Selected False, Rank: 8.000
Column:4, Selected True, Rank: 1.000
Column:5, Selected True, Rank: 1.000
Column:6, Selected True, Rank: 1.000
Column:7, Selected False, Rank: 3.000
Column:8, Selected True, Rank: 1.000
Column:9, Selected True, Rank: 1.000
Column:10, Selected True, Rank: 1.000
Column:11, Selected True, Rank: 1.000
Column:12, Selected True, Rank: 1.000
Column:13, Selected True, Rank: 1.000
Column:14, Selected True, Rank: 1.000
Column:15, Selected False, Rank: 9.000
Column:16, Selected False, Rank: 6.000
Column:17, Selected False, Rank: 4.000
Column:18, Selected True, Rank: 1.000
Column:19, Selected False, Rank: 2.000
Column:20, Selected False, Rank: 7.000
Column:21, Selected False, Rank: 5.000
Column:22, Selected True, Rank: 1.000
Column:23, Selected True, Rank: 1.000
Column:24, Selected True, Rank: 1.000
Column:25, Selected True, Rank: 1.000
Column:26, Selected True, Rank: 1.000
Column:27, Selected True, Rank: 1.000
Column:28, Selected True, Rank: 1.000
Column:29, Selected True, Rank: 1.000
Column:30, Selected True, Rank: 1.000
Column:31, Selected True, Rank: 1.000
Column:32, Selected True, Rank: 1.000

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523101 entries, 0 to 523100
Data columns (total 33 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   EMA10            523101 non-null  float64
 1   ROC10            523101 non-null  float64
 2   ROC30            523101 non-null  float64
 3   %K10             523101 non-null  float64
 4   %D10             523101 non-null  float64
 5   %K30             523101 non-null  float64
 6   %K180            523101 non-null  float64
 7   RSI10            523101 non-null  float64
 8   RSI30            523101 non-null  float64
 9   RSI180           523101 non-null  float64
 10  MACD             523101 non-null  float64
 11  MACDDiff         523101 non-null  float64
 12  PDI              523101 non-null  float64
 13  MDI              523101 non-null  float64
 14  ADX              523101 non-null  float64
 15  OLCR             523101 non-null  float64
 16  HCR              523101 non-null  float64
 17  LCR              523101 non-null  float64
 18  CLCR             523101 non-null  float64
 19  VLVR             523101 non-null  float64
 20  VMA5R            523101 non-null  float64
 21  VMA10R           523101 non-null  float64
 22  VMA60R           523101 non-null  float64
 23  BTC_close        523101 non-null  float64
 24  DXY              523101 non-null  float64
 25  BTCD             523101 non-null  float64
 26  Kimchi_premium   523101 non-null  float64
 27  S&P500           523101 non-null  float64
 28  Ethereum DeFi    523101 non-null  float64
 29  News_freq        523101 non-null  float64
 30  NaverTrend       523101 non-null  float64
 31  Kyle_lambda      523101 non-null  float64
 32  Hasbrouck_labda  523101 non-null  float64
dtypes: float64(33)
memory usage: 131.7 MB

In [ ]:
#rfe 객체에서 파라미터 조사

#모델객체
print(rfe.estimator_)

# 피처 개수
print(rfe.n_features_)


# 피처 중요도 랭킹
print('ranking_')
print(rfe.ranking_)
print(rfe.ranking_.shape)

# 원래 피처에서 지운 데이터는 False, 남긴 데이터는 True
print('support_')
print(rfe.support_)
print(rfe.support_.shape)

RandomForestClassifier()
25
ranking_
[1 1 1 8 1 1 1 3 1 1 1 1 1 1 1 9 6 4 1 2 7 5 1 1 1 1 1 1 1 1 1 1 1]
(33,)
support_
[ True  True  True False  True  True  True False  True  True  True  True
  True  True  True False False False  True False False False  True  True
  True  True  True  True  True  True  True  True  True]
(33,)

#### RFECV

In [ ]:
from sklearn.feature_selection import RFECV
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.tree import DecisionTreeClassifier


# n_repeats : 교차검증기를 반복해야하는 횟수 
#오래걸림. 40분정도 


cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=10, random_state=1)
rfecv = RFECV(estimator=RandomForestClassifier(), cv=cv)
rfecv.fit(rescaledX,Y_train)

for i in range(rescaledX.shape[1]):
  print('Column: %d, Selected %s, Rank: %.3f' % (i, rfecv.support_[i], rfecv.ranking_[i]))

Column: 0, Selected True, Rank: 1.000
Column: 1, Selected False, Rank: 17.000
Column: 2, Selected False, Rank: 11.000
Column: 3, Selected False, Rank: 28.000
Column: 4, Selected False, Rank: 18.000
Column: 5, Selected False, Rank: 21.000
Column: 6, Selected False, Rank: 2.000
Column: 7, Selected False, Rank: 20.000
Column: 8, Selected False, Rank: 9.000
Column: 9, Selected True, Rank: 1.000
Column: 10, Selected False, Rank: 7.000
Column: 11, Selected False, Rank: 13.000
Column: 12, Selected False, Rank: 16.000
Column: 13, Selected False, Rank: 15.000
Column: 14, Selected False, Rank: 14.000
Column: 15, Selected False, Rank: 29.000
Column: 16, Selected False, Rank: 27.000
Column: 17, Selected False, Rank: 24.000
Column: 18, Selected False, Rank: 22.000
Column: 19, Selected False, Rank: 23.000
Column: 20, Selected False, Rank: 26.000
Column: 21, Selected False, Rank: 25.000
Column: 22, Selected False, Rank: 19.000
Column: 23, Selected True, Rank: 1.000
Column: 24, Selected True, Rank: 1.000
Column: 25, Selected True, Rank: 1.000
Column: 26, Selected False, Rank: 3.000
Column: 27, Selected False, Rank: 10.000
Column: 28, Selected False, Rank: 8.000
Column: 29, Selected False, Rank: 6.000
Column: 30, Selected False, Rank: 12.000
Column: 31, Selected False, Rank: 4.000
Column: 32, Selected False, Rank: 5.000

In [ ]:
#rfe 객체에서 파라미터 조사

#모델객체
print(rfecv.estimator_)

# 피처 개수
print(rfecv.n_features_)


# 피처 중요도 랭킹
print('ranking_')
print(rfecv.ranking_)
print(rfecv.ranking_.shape)

# 원래 피처에서 지운 데이터는 False, 남긴 데이터는 True
print('support_')
print(rfecv.support_)
print(rfecv.support_.shape)

RandomForestClassifier()
5
ranking_
[ 1 17 11 28 18 21  2 20  9  1  7 13 16 15 14 29 27 24 22 23 26 25 19  1
  1  1  3 10  8  6 12  4  5]
(33,)
support_
[ True False False False False False False False False  True False False
 False False False False False False False False False False False  True
  True  True False False False False False False False]
(33,)

#### SFS

In [ ]:
# 1시간 30분걸림

from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.tree import DecisionTreeClassifier
from time import time
from sklearn.svm import SVR
import numpy as pd

SFS = RandomForestClassifier(n_estimators=50, random_state=2).fit(rescaledX,Y_train)
feature_names = np.array(X.columns)

#SFS
tic_fwd = time()
sfs_forward = SequentialFeatureSelector(SFS, n_features_to_select=25, # n_features_to_select 개수변경가능
                                        direction='forward').fit(rescaledX,Y_train)
toc_fwd = time()
#SBS
tic_bwd = time()
sfs_backward = SequentialFeatureSelector(SFS, n_features_to_select=25, # n_features_to_select 개수변경가능
                                         direction='backward').fit(rescaledX,Y_train)
toc_bwd = time()

print("Features selected by forward sequential selection: "
      f"{feature_names[sfs_forward.get_support()]}")
print(f"Done in {toc_fwd - tic_fwd:.3f}s")
print("Features selected by backward sequential selection: "
      f"{feature_names[sfs_backward.get_support()]}")
print(f"Done in {toc_bwd - tic_bwd:.3f}s")

Features selected by forward sequential selection: ['EMA10' '%D10' 'RSI180' 'MACDDiff' 'PDI' 'MDI' 'ADX' 'OLCR' 'HCR' 'LCR'
 'CLCR' 'VLVR' 'VMA5R' 'VMA10R' 'VMA60R' 'BTC_close' 'DXY' 'BTCD'
 'Kimchi_premium' 'S&P500' 'Ethereum DeFi' 'News_freq' 'NaverTrend'
 'Kyle_lambda' 'Hasbrouck_labda']
Done in 2039.803s
Features selected by backward sequential selection: ['EMA10' '%D10' '%K180' 'RSI180' 'MACDDiff' 'PDI' 'MDI' 'ADX' 'OLCR' 'HCR'
 'LCR' 'VLVR' 'VMA5R' 'VMA10R' 'VMA60R' 'BTC_close' 'DXY' 'BTCD'
 'Kimchi_premium' 'S&P500' 'Ethereum DeFi' 'News_freq' 'NaverTrend'
 'Kyle_lambda' 'Hasbrouck_labda']
Done in 1791.677s